@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --salmon: #ef9d71;
    --black: #000;
    --white: #fff;
    --cyan: #aedee0;
    --dsalmon: #532521;
    --dcyan: #1f2f32;
}

.vdodiv {
    clip-path: circle(var(--clip) at 50% 50%);
}

*::selection {
    background-color: var(--salmon);
}

body {
    transition: background-color ease-out .5s;
}

body[theme="black"] {
    background-color: var(--black);
}

body[theme="black"] .section {
    color: var(--white);
}

body[theme="cyan"] {
    background-color: var(--cyan);
}

body[theme="cyan"] .section {
    color: var(--dcyan);
}

body[theme="salmon"] {
    background-color: var(--salmon);
}

body[theme="blasalmonck"] .section {
    color: var(--dsalmon);
}

body[theme="white"] {
    background-color: var(--white);
}

body[theme="white"] .section {
    color: var(--black);
}

.row h1,
.ltext h1,
.text h1,
.realL h1,
.realL h3,
.team,
.heading h1 {
    font-family: "Orbitron", sans-serif;
}